@mixin flexbox() {
    //display: -webkit-box;
    //display: -moz-box;
    //display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin flex($values) {
    //-webkit-box-flex: $values;
    //-moz-box-flex:  $values;
    -webkit-flex:  $values;
    //-ms-flex:  $values;
    flex:  $values;
}

@mixin order($val) {
    //-webkit-box-ordinal-group: $val;
    //-moz-box-ordinal-group: $val;
    //-ms-flex-order: $val;
    -webkit-order: $val;
    order: $val;
}

@mixin justify-content($val) {
    -webkit-justify-content: $val;
    justify-content: $val;
}

@mixin flex-flow($values) {
    //-webkit-box-flex-flow: $values;
    //-moz-box-flex-flow: $values;
    -webkit-flex-flow: $values;
    //-ms-flex-flow: $values;
    flex-flow: $values;
}


.devices-list {
    @include flexbox();
    @include flex-flow(row wrap);
    //@include flex-flow(column wrap);
    @include justify-content(center);
    .devices-list-card {
        //@include flex(1 1 400px);
        @include flex(1 1 640px);
        //@include flex(auto);
        //max-width: 400px;
        //max-width: 320px;
        margin: 4px;
    }
}
