@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
	font-style: normal;
}
.flaticon-2445:before {
	content: "\e000";
}
.flaticon-alarm29:before {
	content: "\e001";
}
.flaticon-animal23:before {
	content: "\e002";
}
.flaticon-ankh2:before {
	content: "\e003";
}
.flaticon-bike13:before {
	content: "\e004";
}
.flaticon-blocked7:before {
	content: "\e005";
}
.flaticon-briefcase47:before {
	content: "\e006";
}
.flaticon-briefcase48:before {
	content: "\e007";
}
.flaticon-broken37:before {
	content: "\e008";
}
.flaticon-car103:before {
	content: "\e009";
}
.flaticon-car104:before {
	content: "\e00a";
}
.flaticon-card27:before {
	content: "\e00b";
}
.flaticon-cellphone52:before {
	content: "\e00c";
}
.flaticon-chain4:before {
	content: "\e00d";
}
.flaticon-child10:before {
	content: "\e00e";
}
.flaticon-clock70:before {
	content: "\e00f";
}
.flaticon-cloud242:before {
	content: "\e010";
}
.flaticon-code29:before {
	content: "\e011";
}
.flaticon-combination1:before {
	content: "\e012";
}
.flaticon-document128:before {
	content: "\e013";
}
.flaticon-email63:before {
	content: "\e014";
}
.flaticon-eye96:before {
	content: "\e015";
}
.flaticon-fingerprint52:before {
	content: "\e016";
}
.flaticon-folder163:before {
	content: "\e017";
}
.flaticon-folder165:before {
	content: "\e018";
}
.flaticon-folder166:before {
	content: "\e019";
}
.flaticon-globe25:before {
	content: "\e01a";
}
.flaticon-heart277:before {
	content: "\e01b";
}
.flaticon-heart278:before {
	content: "\e01c";
}
.flaticon-house124:before {
	content: "\e01d";
}
.flaticon-house125:before {
	content: "\e01e";
}
.flaticon-internet32:before {
	content: "\e01f";
}
.flaticon-jail1:before {
	content: "\e020";
}
.flaticon-jail:before {
	content: "\e021";
}
.flaticon-key151:before {
	content: "\e022";
}
.flaticon-key152:before {
	content: "\e023";
}
.flaticon-key154:before {
	content: "\e024";
}
.flaticon-key155:before {
	content: "\e025";
}
.flaticon-key156:before {
	content: "\e026";
}
.flaticon-key157:before {
	content: "\e027";
}
.flaticon-keys3:before {
	content: "\e028";
}
.flaticon-leaf56:before {
	content: "\e029";
}
.flaticon-lips1:before {
	content: "\e02a";
}
.flaticon-lock59:before {
	content: "\e02b";
}
.flaticon-lock60:before {
	content: "\e02c";
}
.flaticon-lock61:before {
	content: "\e02d";
}
.flaticon-lock62:before {
	content: "\e02e";
}
.flaticon-locked25:before {
	content: "\e02f";
}
.flaticon-locked26:before {
	content: "\e030";
}
.flaticon-locked27:before {
	content: "\e031";
}
.flaticon-locked28:before {
	content: "\e032";
}
.flaticon-locked29:before {
	content: "\e033";
}
.flaticon-login7:before {
	content: "\e034";
}
.flaticon-logout6:before {
	content: "\e035";
}
.flaticon-magnetic:before {
	content: "\e036";
}
.flaticon-magnifying50:before {
	content: "\e037";
}
.flaticon-magnifying51:before {
	content: "\e038";
}
.flaticon-man419:before {
	content: "\e039";
}
.flaticon-mandolin:before {
	content: "\e03a";
}
.flaticon-media28:before {
	content: "\e03b";
}
.flaticon-microphone71:before {
	content: "\e03c";
}
.flaticon-money123:before {
	content: "\e03d";
}
.flaticon-money124:before {
	content: "\e03e";
}
.flaticon-monitor69:before {
	content: "\e03f";
}
.flaticon-movie35:before {
	content: "\e040";
}
.flaticon-not18:before {
	content: "\e041";
}
.flaticon-old53:before {
	content: "\e042";
}
.flaticon-padlock39:before {
	content: "\e043";
}
.flaticon-padlock40:before {
	content: "\e044";
}
.flaticon-password13:before {
	content: "\e045";
}
.flaticon-patetrn:before {
	content: "\e046";
}
.flaticon-pc10:before {
	content: "\e047";
}
.flaticon-phone338:before {
	content: "\e048";
}
.flaticon-phone341:before {
	content: "\e049";
}
.flaticon-pointer12:before {
	content: "\e04a";
}
.flaticon-power93:before {
	content: "\e04b";
}
.flaticon-puzzle31:before {
	content: "\e04c";
}
.flaticon-radiation7:before {
	content: "\e04d";
}
.flaticon-refresh50:before {
	content: "\e04e";
}
.flaticon-remote9:before {
	content: "\e04f";
}
.flaticon-rim:before {
	content: "\e050";
}
.flaticon-safe19:before {
	content: "\e051";
}
.flaticon-safe20:before {
	content: "\e052";
}
.flaticon-safety7:before {
	content: "\e053";
}
.flaticon-security44:before {
	content: "\e054";
}
.flaticon-security45:before {
	content: "\e055";
}
.flaticon-shield81:before {
	content: "\e056";
}
.flaticon-shutter2:before {
	content: "\e057";
}
.flaticon-shutter3:before {
	content: "\e058";
}
.flaticon-signal45:before {
	content: "\e059";
}
.flaticon-television18:before {
	content: "\e05a";
}
.flaticon-timer32:before {
	content: "\e05b";
}
.flaticon-timer33:before {
	content: "\e05c";
}
.flaticon-treasure1:before {
	content: "\e05d";
}
.flaticon-treasure2:before {
	content: "\e05e";
}
.flaticon-treasure3:before {
	content: "\e05f";
}
.flaticon-unlocked21:before {
	content: "\e060";
}
.flaticon-url:before {
	content: "\e061";
}
.flaticon-wind22:before {
	content: "\e062";
}
