<ion-view view-title="All Devices">

    <ion-nav-buttons side="right">
		<button ng-click="devices.showNewDeviceModal()" class="button button-clear button-icon ion-plus"></button>
	</ion-nav-buttons>

    <ion-content>
        <!--<ion-list>-->
        <!--    <ion-item ng-repeat="device in devices.all">-->
        <!--        {{device.name ? device.name : device._id}}-->
        <!--    </ion-item>-->
        <!--</ion-list>-->
        <div class="list card" collection-repeat="device in devices.all">
            <ion-item class="item item-divider bar header-bar">
                <h2 class="title">{{device.name ? device.name : device._id}}</h2>
            </ion-item>
            <ion-item class="item item-icon-left item-icon-right">
                <i class="assertive icon ion-locked" ng-if="devices.deviceIsArmed(device)"></i>
                <i class="balanced icon ion-unlocked" ng-if="!devices.deviceIsArmed(device)"></i>
                <h2 class="title">{{device._id}}</h2>
                <p>{{devices.lastDeviceHistoryLineInfo(device)}}&nbsp;</p>
            </ion-item>
            <ion-item class="item item-divider">
                <button class="button button-positive button-clear button-small" ng-click="devices.cmdArm(device)">Arm</button>
                <button class="button button-positive button-clear button-small" ng-click="devices.cmdDisarm(device)">Disarm</button>
                <button class="button button-positive button-clear button-small" ng-click="devices.cmdState(device)">State</button>
            </ion-item>
        </div>
    </ion-content>

</ion-view>
