<ion-view title="Login" hide-back-button=true>
    <ion-content>

        <div class="padding" style="max-width: 500px; width:95%; margin: auto;">

            <div class="list card">

                <div class="item item-divider item-icon-left">
                    <i class="icon ion-person-add" ng-show="login.register"></i>
                    <i class="icon ion-person" ng-hide="login.register"></i>
                    &nbsp;
                </div>

                <form name="loginForm" ng-model="login.loginForm" novalidate>
                    <div class="padding">
                        <label class="item item-input">
                            <input type="text" name="username" ng-model="login.username" placeholder="Username" required>
                        </label>
                        <label class="item item-input">
                            <input type="password" name="password" ng-model="login.password" placeholder="Password" required>
                        </label>
                        <label class="item item-input" ng-if="login.register">
                            <input type="password" name="password2" ng-model="login.password2" placeholder="Password (again)" required match-with="login.password">
                        </label>
                        <label class="item item-input" ng-if="login.register">
                            <input type="email" name="email" ng-model="login.email" placeholder="Email" required>
                        </label>

                        <ion-checkbox class="item" ng-model="login.register">New User</ion-checkbox>

                        <button class="button button-block button-positive" ng-click="login.doLogin()" ng-hide="login.register" ng-disabled="loginForm.$invalid">Login</button>
                        <button class="button button-block button-positive" ng-click="login.doRegister()" ng-show="login.register" ng-disabled="loginForm.$invalid">Register</button>
                    </div>
                </form>
            </div>

        </div>

    </ion-content>
</ion-view>
